:root {
  box-sizing: border-box;
  font-family: "Vidaloka", serif;
}

body {
  width: 100vw;
}
h1 {
  font-family: "Lacquer", sans-serif;
  text-align: center;
  text-decoration: underline;
}
.charts {
  font-family: "Vidaloka";
  font-size: 1.1rem;
  background: white;
  border-radius: 5px;
  padding: 2rem;
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 25px;
}
.toggle {
  font-family: "Vidaloka";
  border-radius: 0.25rem;
  font-weight: 600;
  display: inline-flex;
  -moz-appearance: none;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  transition: all 250ms ease 0s;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.2;
  outline: currentcolor none medium;
  height: 3rem;
  min-width: 3rem;
  font-size: 1.125rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgb(68, 112, 233);
  color: rgb(255, 255, 255);
  margin-left: 42%;
}
.dark {
  background-color: #313843;
  color: white;
}
